<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Verify OTP</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link th:href="@{/css/login.css}" rel="stylesheet">

</head>

<body>

<div class="right-panel">

    <div class="login-card">

        <div class="login-card-icon">

            <i class="fas fa-shield-alt"></i>

        </div>

        <h4>Email Verification</h4>

        <p class="subtitle">

            Enter the OTP sent to your email.

        </p>

        <form th:action="@{/auth/verify-reset-otp}" method="post">

            <label>OTP Code</label>

            <div class="input-wrap">

                <i class="fas fa-lock prefix"></i>

                <input

                        type="text"

                        name="otp"

                        maxlength="6"

                        placeholder="Enter OTP"

                        required>

            </div>

            <button class="btn-signin">

                Verify OTP

            </button>

        </form>

    </div>

</div>

</body>

</html>